@import url('https://fonts.googleapis.com/css?family=Roboto:300');

*{
    box-sizing: border-box;
    margin:0;
}
body{
    font-family:'Roboto',sans-serif;
    font-weight:300;
    /* background:#6fecfd; */
    background:#060807;
    color:#fff;
    overflow:hidden;
}
h1,h2,h3,h4,h5,h6{
    font-weight:300;
    color:#fff;
}
a{
    text-decoration:none;
    color:#fff;
}

#wrapper{
    display:flex;
    flex-direction:row;
}
#left{
    display:flex;
    flex-direction:column;
    flex:1;
    align-items:center;  
    height:100vh;
    justify-content: center;
    
}
/* sign in */
#sign-in{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:80%;
    padding-bottom: 1rem;

}

#sign-in .logo{
    margin-bottom:3vh;
}

#sign-in .logo img{
    width:250px;
}
#sign-in form{
    width:80%;
    padding-bottom:3rem;
}

#sign-in form label{
    font-size:0.9rem;
    line-height:2rem;
    font-weight:500;
}
#sign-in .text-input{
    width:100%;
    margin-bottom:1.3rem;
   
    border-radius:2px;
    background:#181818;
    border:1px solid #555;
    color:#fff;
    padding:0.5rem 1rem;
    line-height:1.3rem;
    
}
.links{
    display:flex;
    flex-direction:column;
    text-align:center;
    line-height:1.7rem;
    font-size:14px;
}
.or{
    display:flex;
    flex-direction: row;
    /* background-color:red; */
    width:80%;
    margin-bottom:20px;
    margin-top:30px;
    justify-content: center;
    align-items: center;
    /* height:10vh; */
   
}
.bar{
  
   flex:auto;
    border:none;
    background:#aaa;
    height:1px;
}
.or span{
    margin:10px;
}
#main-footer{
    margin-top:3rem;
    text-align:center;
    /* font-weight:600; */
    font-size:.9rem;
    line-height:2rem;
}
#main-footer a{
    color:#2684ff;
    
}


/* Right */
#right{
    flex:1;
    background:#211f20;
}
#sign-in .btn-primary{
    width:100%;
}

#sign-in .btn-primary:hover{
    background:#2684ff;
}

#sign-in .btn-secondary{
    width:60%;
    
}
#sign-in .btn-secondary:hover{
    border:1px solid #2684ff;;
    color:#2684ff;;
}
/* Buttons */
.btn-primary{
    padding:0.7rem 1rem;
    height:2.7rem;
    border:0;
    border-radius:2px;
    font-weight:500;
    background:#2684ff;;
    color:#fff;
    cursor:pointer;
    text-align:center;
    display: block;
    transition:all 0.5s ease-in;
}
.btn-secondary{
    padding:0.7rem 1rem;
   
    border:0;
    border-radius:2px;
    font-weight:500;
    /* background:#f96816; */
    color:#fff;
    cursor:pointer;
    text-align:center;
    display: block;
    border:1px solid #444;
    transition:all 500ms ease-in;
    font-size:.9rem;
}
/* right style */

/* Showcase */
#showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url('https://image.ibb.co/cO9Lxq/login-bg.jpg') no-repeat center center / cover; */
    height: 100vh;
    text-align: center;
  }
  
  #showcase .showcase-text {
    font-size: 3rem;
    width: 100%;
    color: #fff;
    margin-bottom: 1.5rem;
  }
  
  #showcase .btn-secondary {
    width: 60%;
    margin: 20px auto;

  }
  
  #showcase .btn-secondary:hover{
    border:1px solid #2684ff;
    color:#2684ff;
    
}
#showcase-text{
    font-size:2rem;
}
/* medai Queries */

@media only screen and (min-width:1200px){
    #left{
        flex:4;
    }
    #right{
        flex:6;
    }
}

@media only screen and (max-width:700px){
    body{
        overflow:scroll;
    }
    #right{
        display:none;
    }
    #left{
        justify-content: start;
        margin: 50px 0 0 0 ;
    }
}

